/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #141414;
    color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.dashboard-container {
    display: flex;
    align-items: center;   
    flex-direction: column;
}

.dashboard-inner-container {
    margin-top: 50px;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.url-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.seperated {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}

input[type="checkbox"] {
    display: none;
}

.custom-checkbox .checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid lightgray;
    background-color: #1C1C1C;
    display: inline-block;
    position: relative;
    cursor: pointer;
    vertical-align: middle;
    margin-right: 8px;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #1C1C1C;
    border-color: lightgray;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.custom-checkbox input[type="checkbox"]:disabled + .checkmark {
    background-color: #1C1C1C;
    border-color: lightgray;
    cursor: not-allowed;
}
  
.custom-checkbox input[type="checkbox"]:disabled + .checkmark::after {
    border-color: #b0b0b0; /* Optional for the checkmark color */
}

.button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#url {
    margin-top: 15px;
    border: 2px solid lightgray;
    background-color: #1C1C1C;
    color: white;
    height: 35px;
}

#n {
    border: 2px solid lightgray;
    background-color: #1C1C1C;
    color: white;
    height: 35px;
}

#pro {
    margin: 5px;
    margin-bottom: 20px;
}

.coloredLink {
    text-decoration: underline;
}

.pricing-section {
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #0F0F0F;
}

.pricing-section h2 {
    font-size: 2.5em;
    margin: 40px;
    margin-bottom: 70px;
}

.pricing-container {
    max-width: 600px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.pricing-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-style: hidden;
}

.pricing-table th, 
.pricing-table td {
    padding: 15px;
    text-align: center;
    border: 1px solid white;
    color: #CCCCCC;
}

.pricing-table th {
    font-weight: bolder;
    color: white;
}

.pricing-table tr td:first-child {
    font-weight: bolder;
    text-align: left;
    color: white;
}

.select-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 8px 16px;
    text-decoration: underline;
}

.select-button:hover {
    color: #0056b3;
}

.before-after {
    display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0F0F0F;
}

.before-after-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    gap: 100px;
}

.box {
    flex: 1 1 40%;
    /* Adjusts width and allows wrapping */
    margin: 10px;
    box-sizing: border-box;
    text-align: center;

    padding: 20px;
    border-radius: 8px;
}

.box img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.features {
    margin: 10px 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.features-container {
    margin: 20px;
    text-align: left;
    
}

.features-container h2 {
    font-size: 2.5em;
}

.features-container ul {
    font-size: 1.5em;
    color: lightgray
}

#status {
    margin-top: 40px;
}

#logout {
    position:fixed;
    right: 25px;
    bottom: 20px;
}

/* Top Bar Styles */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 10px 20px;
    color: #fff;
    border-bottom: 1px solid #333;
}

.logo {
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
}

.logo img {
    height: 27px;
    margin-right: 10px;
    display: inline-block;
}

.get-started-btn {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: transform 0.3s ease; /* Smooth transition */
}

.get-started-btn:hover {
    transform: scale(1.1);
}

/* Hero Section Styles */
.hero-section {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 50px 20px;
    background-color: #141414; /*1C1C1C*/
}

.hero-section-container {
    max-width: 65%;
}

.hero-section h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.hero-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.hero-section p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: #CCCCCC;
}

/* Pro Model Section Styles */
.pro-model-section {
    padding: 10px 20px;
    text-align: center;
    background-color: #141414;
}

.pro-model-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.video-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    padding: 16px 50px;
}

.video-container {
    flex: 1 1 calc(50% - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.video-container video {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.video-container p {
    text-align: center;
    width: 100%;
    margin-top: 8px;
    color: #CCCCCC;
}

.video-prompt {
    text-align: justify !important;
    text-justify: inter-word;
    background-color: #2d2d2d; /* Dark gray background */
    color: #d3d3d3; /* Light gray text */
    padding: 10px; /* Add some space inside the paragraph */
    border-radius: 5px; /* Round the corners */
    width: calc(100% - 20px) !important; /* Take up the full width minus the padding */
}





.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.image-box {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center align content */
    text-align: center;
    width: 45%; /* Ensure it adapts to the image width */
}


.image-box p {
    margin: 5px 0;
    font-size: 1.2em;
    width: 90%; /* Ensures it matches the width of the parent */
    text-align: center;
    max-width: 100%; /* Prevents p from exceeding image width */
    box-sizing: border-box; /* Includes padding in the width calculation */
}

.image-box img {
    max-width: 100%;
    height: 350px;
    width: auto;
}

.image-box video {
    max-width: 100%;
    max-height: 350px;
    width: auto;
    display: block; /* Removes extra spacing below the image */
}


/* Footer */
footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #333;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-content h2 {
    margin-bottom: 30px;
    font-size: xx-large;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}


/*Login*/
.login {
    display: flex;
    flex-direction: column; /* Stack the divs vertically */
    align-items: center; /* Center the divs horizontally */
}

.login h1 {
    font-size: 48px;
    margin: 40px;
}

.login input {
    width: 200px;
    height: 30px;
    margin-top: 10px;
    background-color: #1C1C1C;
    color: white;
    border: 2px solid lightgray;
}



.login button {
    background-color: #ff6600;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease; /* Smooth transition */

}

.login button:hover {
    transform: scale(1.1);
}

.underlined { 
    text-decoration: underline; 
}

.no-account {
    cursor: pointer;
}



.container {
    text-align: center;
}

.container h1 {
    color: white;
}

h1 {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.toggle-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #ff6600;
    
    background-color: #1C1C1C;
    color: #ff6600;
    transition: background-color 0.3s, color 0.3s;
}

.toggle-btn.active {
    background-color: #ff6600;
    color: white;
}

.textarea-container-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textarea-container {
    display: flex;
    flex-direction: column;
    width: 35%;
    text-align: left;
    padding-top: 5px;
}

.runbtn-container {
    display: flex;
    justify-content: space-between; /* This puts the text on the left and button on the right */
    align-items: center; /* Aligns them vertically in the middle */
    width: 50%
}

.errorbox {
    text-align: center;
}

.videobox {
    width: 50%;
}

.videobox video {
    width: 100%;
    height: auto;
}

label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

textarea {
    width: 100%;
    overflow: hidden; /* Prevent scrollbars from appearing initially */
    resize: none; /* Disable manual resizing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    min-height: calc(1.5em + 2px); /* Height for one line of text */
    max-height: calc(4.5em + 2px); /* Height for three lines of text */
    padding: 0.5em;
    font-family: Arial, sans-serif;
    font-size: 1em;
    border: 2px solid lightgray;
    background-color: #1C1C1C;
    color: white;
}

textarea::placeholder {
    color: gray; /* Change 'gray' to your desired color */
    font-style: italic; /* Optional: Style it further if needed */
}

#tip {
    margin-top: 5px;
    padding-left: 5px;
    color: gray;
}

#image-select {
    height: calc(2em + 2px);
    border: 2px solid black;
    background-color: #1C1C1C;
}

#getCredits {
    margin: 30px;
}

.pricing-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.pricing-inner-container {
    display: flex;
    gap: 10px; /* Small space between the boxes */
}
.pricing-box {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid white;
    padding-bottom: 20px;
    transition: transform 0.3s ease; /* Smooth transition */
}

.pricing-box:hover {
    transform: scale(1.1);
}

.pricing-box-text {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.price {
    font-size: 1.25em;
}
.discount {
    font-size: 1.25em;
    font-weight: bold;
}

.pricing-button {
    margin-top: auto
}

#goBack {
    margin-top: 50px;
}

@media (max-width: 768px) {

    .before-after-container {
        gap: 0px;
    }

    .box {
        flex: 1 1 100%; /* Full width on smaller screens */
    }

    .hero-section-container {
        max-width: 90%;
    }

    .pro-model-section {
        padding-bottom: 0px;
    }
    .video-section {
        padding: 16px 20px;
        padding-bottom: 0px;
        gap: 10px;
    }
    .video-container {
        flex: 1 1 100%;
    }
    .video-container video {
        height: 50vw;
    }
    .image-box {
        width: 100%;
    }
    .footer-links {
        flex-direction: column;
        gap: 10px;
    }
    .pricing-inner-container {
        flex-direction: column;
        align-items: center;
    }

    .textarea-container {
        width: 80%;
    }

    .runbtn-container {
        width: 80%;
    }

    .videobox {
        width: 80%;
    }

    .pricing-inner-container {
        width: 75%;
        gap: 25px;
    }

    .pricing-box {
        width: 100%;
    }   

    #goBack {
        margin-bottom: 50px;
    }

    .dashboard-inner-container {
        width: 80%
    }

    .seperated {
        flex-direction: column;
    }

    .checkbox-container {
        width: 100%
    }
}